<%- include('../../partials/header.ejs'); %>
<%- include('../../partials/navbar.ejs'); %>

<div class="container">
    <hr>
    <h2>Categorias</h2><br>
    <a class="btn btn-success" href="/admin/categories/new">Criar categoria</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach(function(temp){%>
            <tr>
                <td><%= temp.id %></td>
                <td><%= temp.title %></td>
                <td><%= temp.slug %></td>
                <td>
                    <a class="btn btn-warning" type="submit" href="/admin/categories/edit/<%= temp.id %>">Editar</a>
                    
                    <form method="POST" action="/categories/delete" style="display:inline" onsubmit="confirmErase(event, this)">
                        <input type="hidden" value="<%= temp.id %>" name="id">
                        <button class="btn btn-danger" type="submit">Deletar</button>
                    </form>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<script>
    function confirmErase(event, form){
        event.preventDefault();
        var decision = confirm("Confirma em deletar essa categoria?");
        if (decision) {
           form.submit();
        }
    }
</script>
<%- include('../../partials/footer.ejs') %>
